<html>
<body bgcolor="black">
	<div style="color: rgb(229, 109, 109);">
		<h3>A message from Spring MVC application</h3>
		<div
			style="background-color: whitesmoke; margin-top: 25px; width: 100%;"
			id="container">
			<div style="color:#060101;">
				We have received a request for your Spring Mvn Application password.
				<br>
				<br> To reset your log-in password, please click below link.
				<br><br>
				${resetPasswordTokenUrl}
				<br><br>
				<br>
			</div>
		</div>
	</div>
</body>
</html>